# Hassas bilgileri içeren dosyanız (BU ÇOK ÖNEMLİ)
GOOGLE_AUTH_SETUP.md
.env

# .NET projesi için standart olarak ignore edilenler
[Bb]in/
[Oo]bj/

# Visual Studio'nun ürettiği geçici dosyalar
*.user
*.suo
*.vs/